# OSS Configuration
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=

# 测量服务 API 配置
MEASUREMENT_API_URL=http://localhost:3030/api/sensors/data 

WS_SERVER=ws://192.168.1.121:8080

# WebSocket 端口配置
WS_PORT=8080

SAVE_FRAME_RANDOM_VALUE=0.01
SAVE_FRAME_RANDOM_VALUE_INVALID=0.001

# 保存所有图片到本地
SAVE_ALL=false

# 上传所有图片到OSS（如果DO_NOT_UPLOAD=true，则此设置无效）
UPLOAD_ALL=true

# 禁止上传图片到OSS（优先级高于UPLOAD_ALL）
DO_NOT_UPLOAD=true

NEXT_PUBLIC_WEBSOCKET_SERVER=ws://localhost:8080
NEXT_PUBLIC_HTTP_SERVER=http://localhost:3000