POSTGRES_DB=weixing-db
POSTGRES_USER=weixing
POSTGRES_PASSWORD=

# OSS Configuration
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=

# 测量服务 API 配置
MEASUREMENT_API_URL=http://localhost:3030/api/sensors/data 

# Image tag
TAG=latest

# Port mapping
HOST_PORT=8080
WS_PORT=8080

# For backend-service
# 您可以根据需要取消注释并配置这些变量
SERIAL_PORT=COM3
ALARM_WITH_SOUND=true
# NODE_ENV=production
# PORT=3000
# DB_PATH=/app/data
# DATA_RETENTION_DAYS=90
# CLEANUP_INTERVAL_DAYS=7

# For udp-server
LIGHT_ACTIVE=true

# For tcp-server
SAVE_AND_UPLOAD_FRAME_RANDOM_VALUE=0.005
SAVE_AND_UPLOAD_FRAME_RANDOM_VALUE_INVALID=0.001
SAVE_FRAME_IN_TEMP_MAX=100
# 上传所有图片到OSS（如果DO_NOT_UPLOAD=true，则此设置无效）
UPLOAD_ALL=false
# 禁止上传图片到OSS（优先级高于UPLOAD_ALL）
DO_NOT_UPLOAD=false

# Common variables for services
WS_SERVER=ws://websocket-server:8080
WEIXING_SERVICE_PARAMETERS_API_URL=http://backend-service:3000/api/parameters
WEIXING_SERVICE_MEASUREMENTS_API_URL=http://backend-service:3000/api/measurements
WEIXING_SERVICE_QUALITY_API_URL=http://backend-service:3000/api/quality-records

# For frontend
WEBSOCKET_SERVER=ws://websocket-server:8080
HTTP_SERVER=http://backend-service:3000